<h1 align="center">Liste des utilisateurs</h1>
<table class="table table-condensed">
<tr>
    <th>ID</th>
    <th>Nom</th>
    <th>Email</th>
    <th>Telephone</th>
    <th>Adresse</th>
    <th>Domaine</th>
    <th>Image</th>
    <th>Roles</th>
</tr>
         <tbody>
             {% for user in users %}
                 <tr>
                     <td>{{ user.id }}</td>
                     <td>{{ user.nom }}</td>
                     <td>{{ user.email }}</td>
                     <td>{{ user.telephone }}</td>
                     <td>{{ user.adresse }}</td>
                     <td>{{ user.domaine }}</td>
                     <td>
                         <img src="{{ asset ('/uploads/' ~ user.images.name ) }}"
                              alt="image" width="150">
                     </td>

                     <td>
                         {% for role in user.roles %}
                             {% if role=="ROLE_ADMIN"%}
                                 Administrateur
                             {% elseif role=="ROLE_CANDIDAT"%}
                                 Candidat
                             {% elseif role=="ROLE_ENTREPRISE"%}
                                 Entreprise
                             {% endif %}
                         {% endfor %}
                     </td>

                     {# <td>{{ user.roles }}</td> #}
                 </tr>
             {% endfor %}
         </tbody>
</table>





