{% extends 'base.html.twig' %}

{% block title %}Entretien index{% endblock %}

{% block content %}
    <h1>Entretien index</h1>
    <i class="fa fa-map-marker"></i> <span id="location"></span>
    <span > :</span>
    <span id="weather"></span>
    <div></div>
    <span >T°  :</span>
    <span id="temp"></span>
    <span >C°</span>
    <img src="" id="icon">

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Horaire</th>
                <th>Lieu</th>
                <th>Confirmation</th>
                <th>Etat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entretien in entretiens %}
            <tr>
                <td>{{ entretien.id }}</td>
                <td>{{ entretien.date ? entretien.date|date('Y-m-d') : '' }}</td>
                <td>{{ entretien.horaire ? entretien.horaire|date('H:i:s') : '' }}</td>
                <td>{{ entretien.lieu }}</td>
                <td>{{ entretien.confirmation ? 'Yes' : 'No' }}</td>
                <td>{{ entretien.etat ? 'Yes' : 'No' }}</td>

                <td>
                    {% if entretien.etat==1 %}
                        <a href="{{ path('grille_evaluation_new', {'id': entretien.id}) }}">Evaluer</a>
                    {%endif %}
                    <a href="{{ path('entretien_show', {'id': entretien.id}) }}">show</a>
                    <a href="{{ path('entretien_edit', {'id': entretien.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
        <script tyep="text/javascript ">
            link = "{{ asset('https://api.openweathermap.org/data/2.5/weather?q=tunis&appid=443c9b451217a0bf6b010ae1cc646941') }}";
            var request = new XMLHttpRequest();
            request.open('GET',link,true);
            request.onload = function() {
                var obj = JSON.parse(this.response);
                console.log(obj);
                document.getElementById('weather').innerHTML = obj.weather[0].description;
                document.getElementById('location').innerHTML = obj.name;
                document.getElementById('temp').innerHTML = obj.main.temp - 273.15;
                document.getElementById('icon').src = "http://openweathermap.org/img/w/" + obj.weather[0].icon + ".png";
            }
            if(request.status==200){
                console.log("ERROR");
            }
            request. send();
        </script>

    </table>
    <div class="navigation">
        {{ knp_pagination_render(entretiens) }}
    </div>
    <a href="{{ path('entretien_new') }}">Create new</a>
    <a href="{{ path('trier_index') }}">trier par date</a>

{% endblock %}
