{% extends 'base.html.twig' %}
{% block title %} Grille index{% endblock %}
{% block content %}
    <h1>GrilleEvaluation index</h1>
    <script src="{{ asset('jquery.min.js') }}"></script>
    <input type="search" class="form-control form-control-sm" placeholder="rechercher" aria-controls="dataTables-example" id="search">                </div>
    <table class="table" id="tableac">
        <thead>
            <tr>
                <th>Id</th>
                <th>Commentaire</th>
                <th>Admission</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for grille_evaluation in grille_evaluations %}
            <tr>
                <td>{{ grille_evaluation.id }}</td>
                <td>{{ grille_evaluation.commentaire }}</td>
                <td>{{ grille_evaluation.admission ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('grille_evaluation_show', {'id': grille_evaluation.id}) }}">show</a>
                    <a href="{{ path('grille_evaluation_edit', {'id': grille_evaluation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        <script>
            $(document).ready(function(){
                $('#search').keyup(function(){
                    search_table($(this).val());
                });
                function search_table(value){
                    $('#tableac tbody tr').each(function(){
                        var found = 'false';
                        $(this).each(function(){
                            if($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0)
                            {
                                found = 'true';
                            }
                        });
                        if(found == 'true')
                        {
                            $(this).show();

                        }
                        else
                        {
                            $(this).hide();

                        }
                    });
                }
            });
        </script>
        </tbody>
    </table>





{% endblock %}
