{% extends 'base.html.twig' %}
{% block title %} Grille index{% endblock %}
{% block content %}
    <h1>GrilleEvaluation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Commentaire</th>
                <th>Admission</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for grille_evaluation in grille_evaluations %}
            <tr>
                <td>{{ grille_evaluation.id }}</td>
                <td>{{ grille_evaluation.commentaire }}</td>
                <td>{{ grille_evaluation.admission ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('grille_evaluation_show', {'id': grille_evaluation.id}) }}">show</a>
                    <a href="{{ path('grille_evaluation_edit', {'id': grille_evaluation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



{% endblock %}
