{% extends 'base.html.twig' %}
{% block title %}Show Recruteur{% endblock %}
{% block stylesheet %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('../assets/css/main.css') }}" />
    <noscript><link rel="stylesheet" href="{{ asset('../assets/css/noscript.css') }}" /></noscript>
{%endblock %}
{% block content %}
    <h1>Recruteur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ recruteur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ recruteur.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ recruteur.prenom }}</td>
            </tr>
            <tr>
                <th>Domaine</th>
                <td>{{ recruteur.domaine }}</td>
            </tr>
        </tbody>
    </table>

    <div class="content">

        <div style="width: 300px; margin: 0 auto" class ="btn-toolbar" role="toolbar" aria-label="Programmatic control">
            <div style="width: 300px; margin: 0 auto" class ="btn-group btn-group-sm" aria-label="Set Select2 option">
                <button  class="js-programmatic-set-val btn btn-outline-primary mr-1 mb-1">Modifier Les informations de ce Recruteur</button>

            </div>

        </div>

        <div style="text-align: center; margin-left: 600px">

            <a class="js-programmatic-set-val btn btn-outline-primary mr-1 mb-1" href='{{ path('recruteur_index')}}' >back to list</a>



        </div>
    </div>

<div style="text-align: center; margin-left: 600px">
    <form role="search" id="nav-search-form" method="post" action="{{ path('recruteur_edit', {'id': recruteur.id}) }}">






{% endblock %}
{% block script %}
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/js/jquery.scrolly.min.js"></script>
    <script src="../assets/js/jquery.scrollex.min.js"></script>
    <script src="../assets/js/browser.min.js"></script>
    <script src="../assets/js/breakpoints.min.js"></script>
    <script src="../assets/js/util.js"></script>
    <script src="../assets/js/main.js"></script>
{% endblock %}
