{% extends 'base.html.twig' %}
{% block title %}Register{% endblock %}
{% block stylesheet %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}" />
    <noscript><link rel="stylesheet" href="{{ asset('assets/css/noscript.css') }}" /></noscript>
{%endblock %}
{% block content %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Register</h1>

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.nom) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.plainPassword, {
        label: 'Password'
    }) }}
    {{ form_row(registrationForm.telephone) }}
    {{ form_row(registrationForm.adresse) }}
    {{ form_row(registrationForm.domaine) }}
    {{ form_row(registrationForm.images ) }}

    {{ form_row(registrationForm.captchaCode) }}
    {{ form_row(registrationForm.agreeTerms) }}

    <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}

{% block script %}
    <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
    <script src="{{asset('assets/bootstrap/js/bootstrap.bundle.min.js')  }}"></script>
    <script src="{{asset('assets/js/jquery.scrolly.min.js')  }}"></script>
    <script src="{{asset('assets/js/jquery.scrollex.min.js')  }}"></script>
    <script src="{{asset('assets/js/browser.min.js')  }}"></script>
    <script src="{{asset('assets/js/breakpoints.min.js')  }}"></script>
    <script src="{{asset('assets/js/util.js')  }}"></script>
    <script src="{{asset('assets/js/main.js')  }}"></script>
{% endblock  %}

