{% extends 'base.html.twig' %}


{% block content %}
    <h1>Evenement index</h1>
    <script src="{{ asset('jquery.min.js') }}"></script>
    <input type="search" class="form-control form-control-sm" placeholder="rechercher" aria-controls="dataTables-example" id="search">                </div>
    <table class="table" id="tableac">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Email</th>
                <th>Logo</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for evenement in evenements %}
            <tr>
                <td>{{ evenement.id }}</td>
                <td>{{ evenement.nom }}</td>
                <td>{{ evenement.description }}</td>
                <td>{{ evenement.email }}</td>
                <td>{{ evenement.logo }}</td>
                <td>{{ evenement.date ? evenement.date|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('evenement_show', {'id': evenement.id}) }}">show</a>
                    <a href="{{ path('evenement_edit', {'id': evenement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        <script>
            $(document).ready(function(){
                $('#search').keyup(function(){
                    search_table($(this).val());
                });
                function search_table(value){
                    $('#tableac tbody tr').each(function(){
                        var found = 'false';
                        $(this).each(function(){
                            if($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0)
                            {
                                found = 'true';
                            }
                        });
                        if(found == 'true')
                        {
                            $(this).show();

                        }
                        else
                        {
                            $(this).hide();

                        }
                    });
                }
            });
        </script>
        </tbody>
    </table>

    <a href="{{ path('evenement_new') }}">Create new</a>
{% endblock %}

